.sidebar {
  float: right;
  border: 2px solid red;
  padding: 10px;
  margin-right: 10px;
  
}

ul {
  list-style: none;
  padding: 0;
}

.live {
  float: left;
  width: 300px;

}
h1 {
  text-align: center;
}
